# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
*.xcodeproj/project.xcworkspace/xcuserdata/
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# CocoaPods
Pods/

# Misc
.DS_Store
*.swp
*~
